* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.site {
  text-align: center;
  font-family: Montserrat, sans-serif;
}

.site_main {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.site_logo {
  height: 80px;
}

.site_header {
  height: 100px;
  padding: 20px;
}

.site_title {
  font-size: 1.5em;
  font-weight: normal;
}

.intro {
  width: 100%;
  max-width: 300px;
  font-size: 18px;
}

.add_padding {
  padding: 20px;
}

.standard_input, .standard_button {
  width: 100%;
  font-weight: normal;
  font-family: Montserrat, sans-serif;
  color: #222;
  box-shadow: none;
  height: 55px;
  padding: 10px 15px;
  background-image: none;
  border-radius: 0;
  margin-bottom: 15px;
}

.standard_input {
  font-size: 16px;
  border: 0;
  background-color: #fafafa;
  border-bottom: 3px solid #e9afa2;
}

.standard_button {
  text-align: center;
  max-width: 300px;
  letter-spacing: 2px;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  text-transform: uppercase;
  white-space: pre-wrap;
  line-height: 20px;
  font-size: 13px;
  background-color: #e9afa2;
  color: #fff;
  border: 0;
}

.standard_button:hover,.standard_button:focus {
  outline: none;
  background-color: #d59b8e;
}

.standard_input::placeholder {
  color: #ddd;
  font-style: italic;
}

.result_table {
  text-align: left;
  border-collapse: collapse;
}

.result_table td {
  padding: 5px 10px;
  border-bottom: 1px solid #e9afa2; 
}

.result_table thead td {
  text-decoration: underline;
  font-weight: bold;
}

.show_result {
  position: absolute;
  top: 7px;
  right: 7px;
  float: right;
  text-align: right;
}

.show_result .show_result_btn {
  border: 0;
  background: transparent;
  width: 35px;
  font-size: 14px;
}

.result_correct {
  color: green;
}

.result_wrong {
  color: red;
  text-decoration: line-through;
}

.total_result_string {
  font-size: 26px;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}